.scrolling {
  .items {
    min-height: 60px;
    display: flex;
    align-items: center;
    flex-flow: row;
    .item {
      margin-right: 150px;
      font-weight: bold;
    }
  }

}

section.special_offer {
  .container-fluid.g-0 {
    overflow-x: hidden;
  }
  img {
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
  }

  .col-md-6 {
    h2 {
      font-size: 3vw;
      letter-spacing: 15px;
    }
    h1 {
      font-size: 5.5vw;
      letter-spacing: 15px;
      font-weight: bold;
    }
  }
}

section.latest_products {
  .arrows {
    display: flex;
    justify-content: center;

    h2 {
      margin-bottom: 0;
    }

    .left-arrow,.right-arrow {
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
    }

    .left-arrow {
      margin-right: 30px;
    }

    .right-arrow {
      -webkit-transition: scaleX(-1);
      transform: scaleX(-1);
      margin-left: 30px;
    }
  }

  .product_slider {
    overflow-x: hidden;
  }
}

section.offers {
  .col-md-6 {
    background-size: cover;
    min-height: 720px;
    max-height: 720px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right,#000,#000);
      opacity: .6;
    }

    .text{
      position: absolute;
      bottom: 60px;
      left: 40px;
    }
  }
}